<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=P45-DB08; Initial Catalog=WebSbor_PasswordRespondents; Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="CanUserResizeRows" value="False"/>
		<add key="CanUserResizeColumns" value="True"/>
		<add key="CanUserReorderColumns" value="True"/>
	</appSettings>
</configuration>